[DEFAULT]
APP_PORT = [int]
APP_DEBUG = [bool]
SECRET_KEY = [string]
SQLALCHEMY_DATABASE_URI = [string]
SQLALCHEMY_TRACK_MODIFICATIONS = [bool]
JWT_AUTH_URL_RULE = [string]
JWT_AUTH_USERNAME_KEY = [string]
JWT_EXPIRATION_DELTA = [int]